In [3]:
print("Hello, World")
print('Another Hello')

Hello, World
Another Hello

In [2]:
for i in range (4):
    print(i)

0
1
2
3

In [ ]:
x=7
y=7.0
print("x= ",x ,"it's type is ",type(x) ) # We use doble quotes as there is 's in it's
print("y= ",y ,"it's type is ",type(y) )

x=  7 it's type is  <class 'int'>
y=  7.0 it's type is  <class 'float'>

Another way more effecient for writing sentence with numbers by using Formats f ".

In [9]:
print(f"x = {x} and it's type is {type(x)}")

x = 7 and it's type is <class 'int'>

Sign "+" is used for 2 operations:

Add => if it applicates on numbers.

Concatenation => if it applicaties on strings

"Note that"

Concatenation can't be applied on different data types

In [ ]:
one=1
two=2
three=one +two
print(three)

hello="hello"
world="world"
helloworld=hello + " " + world  # here it will concatenate the two words together
print(helloworld)

3
hello world

WE can assign different values in the same line and do the printing too in the same line.

In [13]:
a,b,c=5,45,20
print(a,b,c)  # the output will be in the same line , if you need them in separete lines, do print for each variable.

5 45 20

if you assign values less than the variables mentiond like this:

x,r,e=5,4

it will give you error, but if otherwise means that you assigns values more than the mention variables it will consider them as a "*Tuple*".

In [ ]:
x=5,4,7
print(x) # here it will consider x as a tuple

(5, 4, 7)

Lists : here you can define a list without defining it's size , on despite the Array in other language.

In [20]:
mylist=[]
mylist.append(3)
mylist.append(5)
mylist.append(30)
mylist.append(45)
print(mylist[0])
print(mylist[2])
print(mylist[3])

print("Print all values in the list by using loop...")
for i in mylist:
    print(i)

3
30
45
Print all values in the list by using loop...
3
5
30
45

Arithmatic Operations

In [ ]:
number = 1 + 5 * 4 / 3.0
print(number)

7.666666666666667

In [24]:
reminder=11%3
print(reminder)

2

In [25]:
quotes=11//3  # => 11/3=3*3+2 --> value= divisor * quotes + reminder
print(quotes)

3

In [26]:
power=6**3
print(power)

216

Using operators with strings.

As we mention above the concatenation.

Here another operators can be applied: *

sign "*" when used with strings , it means repeatting

In [27]:
helloamona="helloamona " * 3
print(helloamona)

helloamona helloamona helloamona

*Using Operators with Lists*

sign "+" when used with lists, it will joined the lists together in one list.

sign "*" : it will be as same as it's using with the string " will repeates them as we say by using for example list5 * 3 --> it will repeates the values in these list 3 times."

In [31]:
list1=[1,2,5]
list2=[45,20,2]
list3 =list1+list2
print(list3)

[1, 2, 5, 45, 20, 2]

In [33]:
print(list1*3)

[1, 2, 5, 1, 2, 5, 1, 2, 5]

*Conditions*

In [34]:
x=2
print(x == 2) # True
print(x == 5) # False
print(x > -9) # True

True
False
True

Logical Operations Can be done by :

and  , or --> i mean it's written like this when using "in English"

The "in" Operator can be used to check if a specified object exists within an iterable objet container

In [ ]:
name="Eman"
print(name in ["Emaa","Eman"])

True

*LOOPS*

In [40]:
primes=[2,3,5,7]
for prime in primes:
    print(prime)

2
3
5
7

For loop using range function :

range(start,end, step): if you don't define the start it will be by default :0 and if you don't define the step it will be :1

In [ ]:
for i in range(5):
    print(i) # It will print from 0 to 4

4

print values of 3,4,5

In [48]:
for h in range(3,6):
    print(h)

3
4
5

print values of 3,5,7

In [49]:
for j in range (3,8,2):
    print(j)

3
5
7

*While Loop*

It repeates the statments or output as long as the condition is true



print out from 0 to 5 using while loop

In [ ]:
count=0
while(count < 5):
    print(count)
    count += 1  # in python we can't apply increment like this ++ directly

0
1
2
3
4

"Break" and "Continue" Statements

break is used to exit from the loop, but continue is used to skip this output and go again to complete the loop




print out 0,1,2,3,4 using break statement

In [58]:
counts=0
while True:
    print(counts)
    counts += 1
    if(counts > 4):
        break

0
1
2
3
4

print only odd primes 1,3,5,7,9 using contiune statement

In [69]:
counter=0
while True:
    if counter % 2 == 0:
        counter += 1
        continue
    print(counter)
    counter += 1
    if counter > 9:
        break

1
3
5
7
9

Another way for this will be with for loop

In [70]:
i=0
for i in range(10):
    if( i % 2 == 0):
        continue
    print(i)

1
3
5
7
9

*Functions*

Functions in python are defined using the block keyword "def"

In [ ]:
def myfunction():
    print("Hello Everyone from Eman Orabi :)")
# Calling the function
myfunction()

Hello Everyone from Eman Orabi :)

Functions may also receive arguments (variable passed from the caller to the function)

In [79]:
def myfunction_with_args(username,greeting):
    print(f"Hello,{username} from my Function !! I wish you {greeting} ^_^")

In [80]:
myfunction_with_args("Eman","All the best")

Hello,Eman from my Function !! I wish you All the best ^_^

Functions may return a value to the caller, using the keyword "return"

In [81]:
def sum_two_numbers(num1,num2):
    return num1+num2

In [83]:
result=sum_two_numbers(5,40)
print("The result of the summation Function is ",result)

The result of the summation Function is  45